/* 大元の設定 */
:root{
    --font-famiry: "Cherry Bomb One", system-ui;
}
body{
    font-family: var(--font-famiry);
    font-style: normal;
    position: relative;
    background-color: bisque;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
}

h3{
    border: 1px;
}

/* 大元の設定終了 */


/* ヘッダー開始 */
header{
    height: 15vh;
    width: 100%;
    display: block;
    text-align: center;
}

.magorun{
    height: 5vh;
    width: auto;
    margin-top: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
    border-radius: 25px;
}

.topMagorun{
    margin:0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.base,.base .Accordionlist,.active .Accordionlist .checkbox{
    background-color: plum;
}
.active, .active .Accordionlist,.base .Accordionlist .checkbox{
    background-color: skyblue;
}
.point{
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.Accordionlist{
    padding: 0.5rem;

    border-radius: 15px;
    z-index: 1000;
}
.Accordionlist button{
    font-family: var(--font-famiry);
    font-size: 2rem;
    background-color: yellow;
    border: 2px solid #000;
    border-radius: 20px;
}
.checkbox{
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: left;

    border: 1px solid #000;
    border-radius: 25px;
    background-color: skyblue;
}
.checkbox input{
    zoom: 2;
}
.checkbox label{
    font-size: 2rem;
}
#result{
    font-size: 3rem;

}

/* ヘッダー終了 */
/* メイン開始 */
.room{
    height: 65vh;
    width: auto;

    position: relative;

    background-size:auto 70vh;
    background-image: url("../img/childroom.jpg");
    background-repeat: no-repeat;

    border: 4mm ridge rgb(0 0 0 / 74%);
    border-radius: 20px;
}
.corasho{
    position: relative;
    top: 30vh;
    left: 50vw;

    height: auto;
    width: 30%;

}
/* メイン開終了 */

/* フッター開始 */
footer{
    display: flex;
    justify-content: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 10px;
    height: 10vh;
    width: auto;
    background-color: gray;

}
.icon-row{
    display: flex;
}
footer .icon{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: skyblue;
    margin: 5px;
    border: 1px solid black;
    border-radius: 25px;

}
.icon{
    height: 100%;
}
.icon-img{
    height: 90%;
    width: 90%;

}

/* フッター終了 */